/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a basic style to the body */
body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  background-color: #333;
  color: black;
  padding: 20px 0;
  text-align: center;
}

/* Style the header */
header {
  background-color: #333;
  color: darkred;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  text-align: left;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
}

.about-section {
  margin-bottom: 50px;
  text-align: center;
}

.about-content {
  width: 70%;
  float: left;
}

.about-content h2 {
  color: red;
  margin-bottom: 20px;
}

.about-content p {
  color: indianred;
  margin-bottom: 20px;
}

.about-image {
  width: 30%;
  float: right;
}

.about-image img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-section {
  margin-top: 50px;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member img {
  border-radius: 30%;
  max-width: 10%;
  height: auto;
  margin-bottom: 10px;
}

.team-member h3 {
  color: darkred;
  margin-bottom: 5px;
}

.team-member p {
  color: darkred;
  font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
